body {
    margin: 0px;
    padding: 0px;
    background-color: #d6ebd5;
    font-family: 'Libre Franklin', sans-serif;
}

#header {
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #d40d2a;
}

#header h1 {
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Black Han Sans', sans-serif;
}

#casillas {
    cursor: grab;
    margin: auto;
    overflow: hidden;
    background-color: #d6ebd5;
}

#casillas:active {
    cursor: grabbing;
}

#casillas:active,
#casillas:focus {
    border: none;
    outline: none;
}

.casilla,
.esquinas {
    text-align: center;
    margin: 10px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 430px;
    background: #FFF;
    border: 2px solid black;
    box-shadow: 0px 1px 10px 1px #8faa8e;
}

.casilla img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.casilla-header {
    text-align: center;
    padding: 5px;
    max-height: 50px;
    background-color: #7F00FF;
}

.casilla-header h2 {
    margin: 0;
    font-size: 20px;
}

.esquina {
    width: 400px;
}

.player {
    width: 50px;
    height: 50px;
}