body {
    margin: 0px;
    padding: 0px;
    background-color: #d6ebd5;
    font-family: 'Libre Franklin', sans-serif;
}

button {
    cursor: pointer;
}

#header {
    padding: 5px;
    color: white;
    text-align: center;
    background-color: #d40d2a;
}

#header h2 {
    margin: 0;
    text-align: left;
}

#header h1 {
    margin: 0;
    letter-spacing: 2px;
    font-family: 'Black Han Sans', sans-serif;
}


#header button {
    background-color: rgb(231, 231, 133);
    outline: none;
    border: none;
    padding: 5px;
}

#casillas {
    cursor: grab;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: #d6ebd5;
}

#casillas:active {
    cursor: grabbing;
}

#casillas:active,
#casillas:focus {
    border: none;
    outline: none;
}

.casilla,
.esquina {
    text-align: center;
    margin: 10px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 430px;
    background: #FFF;
    border: 2px solid black;
    box-shadow: 0px 1px 10px 1px #8faa8e;
}

.casilla img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.casilla-header {
    text-align: center;
    padding: 5px;
    max-height: 50px;
    background-color: #7F00FF;
}

.casilla-header h2 {
    margin: 0;
    font-size: 20px;
}

.esquina {
    width: 400px;
}

.player {
    width: 50px;
    height: 50px;
}

.popUp {
    box-sizing: border-box;
    max-height: 500px;
    padding: 10px;
    overflow-y: auto;
    background-color: #d6ebd5;
    box-shadow: 0px 1px 10px 1px #8faa8e;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.opcion-skin {
    margin: 5px 0px 5px 0px;
}

#game-control {
    margin: 10px;
    display: table;
}

#game-control>div {
    display: inline-block;
    display: table-cell;
}

#control-turno>* {
    display: block;
}

#control-lanzar-dados>* {
    display: block;
}

#lanzarDado {
    width: calc(100% - 20px);
    margin: auto;
    background-color: #d40d2a;
    color: rgb(231, 231, 133);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

#lanzarDado:disabled {
    background-color: #b14a59;
}

#dado1,
#dado2 {
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: 2px solid black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}